@model GradeNet.Infrastructure.ViewModels.LessonViewModel

@{ 
    string name = String.Empty;
    string lineForSem1 = "";
    string lineForSem2 = "";
}

<div>
    <h4>Lista uczniów</h4>
    @if (ViewBag.Info != "")
    {
        <h4 style="color: #00921e;">@ViewBag.Info</h4>
    }
</div>
<table>
    <tr>
        <th>
            lp.
        </th>
        <th>
            Nazwisko i imię
        </th>
        <th>
            Semestr I
        </th>
        <th>
            Semestr II
        </th>
        <th></th>
    </tr>
    @foreach (var student in Model.StudentsList)
    {
        name = String.IsNullOrEmpty(student.SecondName) ? $"{student.Surname} {student.FirstName}" : $"{student.Surname} {student.FirstName} {student.SecondName}";

        lineForSem1 = "";
        foreach (var grade in Model.StudentsGradesList.Where(x => x.StudentId == student.StudentId && x.Semester == 1))
        {
            lineForSem1 += $", {grade.Grade}";
        }
        lineForSem1 = lineForSem1.Length > 1 ? lineForSem1.Substring(2) : "";

        lineForSem2 = "";
        foreach (var grade in Model.StudentsGradesList.Where(x => x.StudentId == student.StudentId && x.Semester == 2))
        {
            lineForSem2 += $", {grade.Grade}";
        }
        lineForSem2 = lineForSem2.Length > 1 ? lineForSem2.Substring(2) : "";

        <tr>
            <td style="text-align: center;">
                @student.StudentId.ToString().
            </td>
            <td width="20%">
                @name
            </td>
            <td width="35%">
                @lineForSem1
            </td>
            <td width="35%">
                @lineForSem2
            </td>
            <td>
                <form action="AddGrade" method="get">
                    <input type="hidden" name="studentId" value="@student.StudentId" />
                    <input type="hidden" name="studentName" value="@name" />
                    <input type="hidden" name="lessonId" value="@Model.LessonId" />
                    <input type="hidden" name="classId" value="@Model.ClassId" />
                    <input type="submit" value="Dodaj" />
                </form>
            </td>
        </tr>
    }
</table>