@model GradeNet.Infrastructure.ViewModels.AddGradeViewModel

@{ 
    int[] x = { Model.ClassId, Model.LessonId };
}

<style>
    .content {
        border: 1px solid #aaa;
        padding-bottom: 15px;
        margin-top: 15px;
    }

    hr {
        width: 95%;
    }

    .select {
        width: 100%;
        background: #fff4b911;
        border-style: none;
        border-bottom: 1px solid black;
    }
</style>

<div class="row" style="padding: 0 15px 0 0;">
    <div class="col-md-2">
        @Html.Partial("~/Views/Teacher/_LeftSidePanel_Lesson.cshtml", new List<int>(x))
    </div>
    <div class="col-md-10 content">
        <h4>Dodaj ocenę:</h4>
        <hr>
        <form action="AddGrade" method="post">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-2">
                    Uczeń:
                </div>
                <div class="col-md-4">
                    @Model.StudentName
                    <input type="hidden" name="studentId" value="@Model.StudentId" />
                    <input type="hidden" name="studentName" value="@Model.StudentName" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-2">
                    Przedmiot:
                </div>
                <div class="col-md-4">
                    @Model.LessonName
                    <input type="hidden" name="lessonId" value="@Model.LessonId" />
                    <input type="hidden" name="lessonName" value="@Model.LessonName" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-2">
                    Ocena:
                </div>
                <div class="col-md-4">
                    <input type="text" name="grade" size="1" maxlength="2" />
                    <input type="hidden" name="style" value="1" />
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-2">
                    Semestr:
                </div>
                <div class="col-md-4">
                    <input type="text" name="semester" size="1" maxlength="1" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <input type="hidden" name="classId" value="@Model.ClassId" />
                    <input type="submit" value="Dodaj" />
                </div>
                <div class="col-md-6">
                    @if (ViewBag.Error != "")
                    {
                        <h4 style="color: #a00000">@ViewBag.Info</h4>
                    }
                </div>
            </div>
        </form>
    </div>
</div>
