@model GradeNet.Infrastructure.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = @User.Identity.Name;
}

<h2>Twoje Dane</h2>

<table class="table" style="width:40%;">
    <tr>
        <th style="width:40%;">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <td style="width:60%;">
            @User.Identity.Name
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.FirstName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.SecondName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Surname)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ContactNumber)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.IsConfirmed)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PESEL)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.PESEL)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Place)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prefix)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Prefix)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Street)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HouseNumber)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.HouseNumber)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ApartmentNumber)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.PostalCode)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostOfficePlace)
        </th>
        <td>
            @Html.DisplayFor(modelItem => modelItem.PostOfficePlace)
        </td>
    </tr>
</table>
